<alert></alert>
<!-- Class Section -->
<form #classNgForm="ngForm" name="form" (ngSubmit)="onSubmit()">

    <div class="card m-3">
        <h5 class="card-header">Classes</h5>
        <div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="width: 30%">Class Name</th>
                        <th style="width: 30%">Location</th>
                        <th style="width: 30%">Teacher Name</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let fClass of folioClasses; let i=index" class="clickable-row"
                        (click)="selectClass(fClass)">


                        <td>
                            <div *ngIf="!fClass.isEditing">
                                {{fClass.name}}
                            </div>
                            <div *ngIf="fClass.isEditing">
                                <input type="text" required name="name" #name="ngModel" [(ngModel)]="fClass.name"
                                    class="form-control"
                                    [ngClass]="{ 'is-invalid': name.errors && (name.touched || name.dirty) }" />
                                <div *ngIf="name.errors && (name.touched || name.dirty)" class="invalid-feedback">
                                    <div *ngIf="name.errors.required">Class Name is required</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="!fClass.isEditing">
                                {{fClass.location}}
                            </div>
                            <div *ngIf="fClass.isEditing">
                                <input type="text" required name="location" #location="ngModel"
                                    [(ngModel)]="fClass.location" class="form-control"
                                    [ngClass]="{ 'is-invalid': location.errors && (location.touched || location.dirty) }" />
                                <div *ngIf="location.errors && (location.touched || location.dirty)"
                                    class="invalid-feedback">
                                    <div *ngIf="location.errors.required">Location is required</div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div *ngIf="!fClass.isEditing">
                                {{fClass.teacherName}}
                            </div>
                            <div *ngIf="fClass.isEditing">
                                <input type="text" required name="teacherName" #teacherName="ngModel"
                                    [(ngModel)]="fClass.teacherName" class="form-control"
                                    [ngClass]="{ 'is-invalid': teacherName.errors && (teacherName.touched || teacherName.dirty) }" />
                                <div *ngIf="teacherName.errors  && (teacherName.touched || teacherName.dirty)"
                                    class="invalid-feedback">
                                    <div *ngIf="teacherName.errors.required">Teacher Name is required</div>
                                </div>
                            </div>
                        </td>
                        <td style="white-space: nowrap">
                            <div class="form-group col-3" *ngIf="!fClass.isEditing">
                                <button (click)="editClass(fClass)" class="btn btn-sm btn-primary mr-1"
                                    [disabled]="(deletingClass || addOrEditingClass)">
                                    Edit
                                </button>
                                <button (click)="deleteClass(fClass)" class="btn btn-sm btn-danger btn-delete-user"
                                    [disabled]="(deletingClass || addOrEditingClass)">
                                    <span *ngIf="fClass.isDeleting" class="spinner-border spinner-border-sm"></span>
                                    <span *ngIf="!fClass.isDeleting">Delete</span>
                                </button>
                            </div>
                            <div class="form-group col-3" *ngIf="fClass.isEditing">
                                <button class="btn btn-sm btn-primary mr-1"
                                    [disabled]="classNgForm.form.invalid">Save</button>
                                <button class="btn btn-sm btn-secondary" type="reset"
                                    (click)="onCancel(fClass)">Cancel</button>
                            </div>
                        </td>

                    </tr>
                    <tr *ngIf="!folioClasses">
                        <td colspan="4" class="text-center">
                            <span class="spinner-border spinner-border-lg align-center"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h5 class="card-header">
                <button (click)="addClassClicked()" class="btn btn-sm btn-primary mr-1"
                    [disabled]="(deletingClass || addOrEditingClass)">
                    Add
                </button>
            </h5>
        </div>

    </div>
</form>

<app-folio-student-dynamic [(selectedClass)]="selectedClass" [(addOrEditingClass)]="addOrEditingClass"
    [(deletingClass)]="deletingClass" [(addOrEditingStudent)]="addOrEditingStudent"
    (showAlertMessage)='showAlertMessage($event.showSuccessMessage, $event.message)'>
</app-folio-student-dynamic>