<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nvabarFolio"
    aria-controls="nvabarFolio" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nvabarFolio">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Reactive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/folio-class-student-dynamic">Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/folio-class-dynamic">PnC Component</a>
      </li>

    </ul>

  </div>
</nav>
<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<span class="navbar-brand mb-0 h1">Partes vehículos</span>
	<button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
  </button>
	<div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
		<a class="nav-item nav-link active text-white">
			Usuario: My name
		</a>
		<a class="nav-item nav-link active text-white">
			Perfil: TODO
		</a>
		<button class="nav-item btn btn-outline-warning ml-3 mr-3">Más opciones</button>
		<a class="nav-item nav-link active text-white" routerLink="/" (click)="authService.logout()">
			Salir
			<span class="sr-only">(current)</span>
		</a>
	</div>
</nav> -->


<div class="app-container">
  <router-outlet></router-outlet>

</div>